/* Utility */
.cursor-pointer {
    cursor: pointer;
}

/* Navbar */
.navbar {
    color: white;
    padding: 2em;
    opacity: 1;
    text-align: right;
}

.navbar--contact {
    background: #4f8ee1d4;
}

.navbar--item {
    color: white;
    text-decoration: none;
    transition: transform .2s;
}

.navbar--active, 
.navbar--item:hover {
    color: yellow;
    cursor: pointer;
    transform: translate(5px, 0px) !important;
}

.navbar--icon {
    color: yellow;
}

/* About */
#about {
    height: 100vh;
}

/* Contact */
#contact {
    height: 100%;
}

/* Projects */
#projects {
    width: 100% !important;
    height: 100% !important;
}

#project__cards {
    left: -19vw;
    width: 140vw;
    display: flex;
    position: relative;
    align-items: center;
}

.project__click__me {
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.project__card {
    top: 1em;
    width: 30vw;
    height: 50vh;
    margin: .5em;
    filter: grayscale(1);
    position: relative;
    transition: filter .2s, top .5s, width .5s, height .5s;
    background: white;
    border-radius: 1.5em;
}

.project__card--first,
.project__card--last {
    top: 2em;
    width: 25vw;
    height: 45vh;
}

.project__card--active,
.project__card:hover {
    top: 0em;
    width: 35vw;
    height: 55vh;
    cursor: pointer;
    filter: grayscale(0);
}

.project__card--show {
    top: 0em;
    width: 100% !important;
    height: 100% !important;
    filter: grayscale(0);
}

#project__arrows {
    width: 100%;
    height: 50px;
    bottom: 0;
    display: flex;
    position: fixed;
    justify-content: center;
    z-index: 99;
    background-color: black;
}

.project__arrow {
    color: white;
    opacity: .5;
    transition: opacity .5s;
    margin-left: 1em;
    margin-right: 1em;
    margin-top: auto !important;
    margin-bottom: auto !important;
}

.project__arrow:hover {
    cursor: pointer;
    opacity: 1;
}

/* Work */
#work {
    height: 100vh;
}

/* Home */
#home {
    height: 100vh;
}

#home__details {
    color: white;
    height: 110vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: black;
}

.home__title {
    color: black;
    height: 22vh;
    font-size: 50px;
    text-align: center;
    background-color: black;
    transition: font-size .2s, height .2s;
}


.home__title:hover {
    cursor: default !important;
    font-size: 125px;
}

.home__title--2:hover,
.home__title--3:hover,
.home__title--1:hover {
    background-image: url('./_assets/bishop.JPG');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.home__title--1:hover {
  color: red;
}

.home__title--2:hover {
  color: yellow;
}

.home__title--3:hover {
  color: white;
}

.home__scroll {
    opacity: 0;
}

.home__scroll--text {
    color: white;
    padding: 2em;
    transition: transform .5s, font-size .2s;
}

.home__scroll--text:hover {
    color: yellow !important;
    cursor: pointer;
    font-size: 20px;
}

.home__parallax--1 {
  background-image: url('./_assets/bishop.JPG');
}
.home__parallax--2 {
  background-image: url('./_assets/jtree.jpg');
}
.home__parallax--1, 
.home__parallax--2 {
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}